    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <!--
        PPPPPPPPPPP   PPP     PPP   PPPPPPPPPP
        PPPPPPPPPPP   PPPP    PPP   PPPP  PPPPP
            PPP       PPPPPP  PPP   PPPP  PPPPP
            PPP       PPPPPPPPPPP   PPPPPPPPPP
            PPP       PPP  PPPPPP   PPP 
            PPP       PPP   PPPPP   PPP 
            PPP       PPP     PPP   PPP 
    -->

    <meta name="author" content="Lạc Lạc">
    <link rel="icon" href="https://tnp1606.github.io/img/red-heart.png">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan" rel="stylesheet"> 

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
